<%= form_for(@user, :url => {:action => 'update', :id => @user.id}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email, 'Email:' %><br>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password, 'Password:' %><br>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :name, 'Name:' %><br>
    <%= f.text_field :name %>
  </div>

   <div class="field">
    <%= f.label :phoneNum, 'Phone Number:' %><br>
    <%= f.phone_field :phoneNum %>
  </div>

  <div class="field">
    <%= f.label :biography, 'User Profile:' %><br>
    <%= f.text_area :biography %>
  </div>

  <div class="field">
    <%= f.label :education, 'Education:' %><br>
    <%= f.text_area :education %>
  </div>

  <div class="field">
    <%= f.label :birthDate, 'Birth Date:' %><br>
    <%= f.date_field :birthDate %>
  </div>

  <div class="field">
    <%= f.label :availabilityBegin, 'Availability to Begin:' %><br>
    <%= f.date_field :availabilityBegin %>
  </div>

  <div class="field">
    <%= f.label :availabilityEnd, 'Available Until:' %><br>
    <%= f.date_field :availabilityEnd %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
