<%= form_for(@organization, :url => {:action => 'update', :id => @organization.id}) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name, 'Name of Organization:' %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :password, 'Password:'  %><br>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :email, 'Email:' %><br>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :phoneNum, 'Phone Number:' %><br>
    <%= f.phone_field :phoneNum %>
  </div>

  <div class="field">
    <%= f.label :biography, 'Biography of Organization:' %><br>
    <%= f.text_area :biography %>
  </div>

  <div class="field">
    <%= f.label :url, 'Organization Website:' %><br>
    <%= f.url_field :url %>
  </div>

  <div class="field">
    <%= f.label :location, 'Location of Organization:' %><br>
    <%= f.text_area :location %>
  </div>

  <div class="field">
    <%= f.label :size, 'Size of Organization:' %><br>
    <%= f.number_field :size %>
  </div>  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
